<div class="container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo</mat-label>
        <input matInput required type="email" [(ngModel)]="email" name="email">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput required type="password" [(ngModel)]="password" name="password">
      </mat-form-field>
  
      <button mat-flat-button color="accent" type="submit">Iniciar sesión</button>
      <p style="text-align:center">
        ¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a>
      </p>
      
    </form>
  </div>
  